{% extends "master/default.html" %}
{% set doc_title = "Activities | CSR" %}
{% set base_href="." %}

{% block vendor_styles %}{% endblock %}

{% block vendor_scripts %}{% endblock %}

{% block content %}
<section class="banner">
   <div class="banner_wrapper row">
      <div class="col-1-3">
         <div class="banner_image" style="background-image:url('{{base_href}}/assets/images/img-banner-csr.jpg');"></div>
      </div>
      <div class="col-2-3">
         <div class="banner_content">
            <h1 class="banner_title">CSR</h1>
            <ul class="pi-breadcrumb">
               <li class="pi-breadcrumb_item"><a href="{{base_href}}/">Home</a></li>
               <li class="pi-breadcrumb_item is-active">CSR</li>
            </ul>
         </div>
      </div>
   </div>
</section>
<section class="section pattern-default bg-white">
   <div class="container">
      <div class="row">
         <div class="col-xs-12">
            <!-- CONTENT PLACE HERE -->
            <div class="activities">
               <div class="activities_catlist">
                  <div class="activities_row">
                     <h4 class="activities_cattext">Other Category: </h4>
                     <ul class="activities_menu">
                        <li><a href="./activities-news.html">Primacom News</a></li>
                        <li><a href="./activities-corporate.html">Corporate Activities</a></li>
                     </ul>
                  </div>
               </div><!-- /.activities_catlist -->
               <div class="activities_listing">
                  <div class="activities_wrapper">
                     <div class="activities_list">
                        <div class="activities_image">
                           <img src="{{base_href}}/assets/images/img-baksos-banten.jpg" alt="">
                        </div>
                        <div class="activities_content">
                           <h3 class="activities_title"><a href="./csr/primacom-social-charity-kunciran-tangerang-banten-2017.html">PRIMACOM Social Charity on Kunciran, Tangerang-Banten-2017</a></h3>
                           <p class="activities_excerpt">
                              On June 16, 2017, PRIMACOM took this charity as a thanksgiving moment for new operational office building in Alam Sutera, Tangerang which is named Gedung Prima Sejahtera.  Conducted in Kunciran's District Office, groceries (sembako) were shared for around 300 people in need from nearest villages around with.
                           <a href="./csr/primacom-social-charity-kunciran-tangerang-banten-2017.html" class="activities_more">Learn more</a>
                        </p>
                        </div>
                     </div><!-- /.activities_list -->
                     <div class="activities_list">
                        <div class="activities_image">
                           <img src="{{base_href}}/assets/images/img-baksos-senen.jpg" alt="">
                        </div>
                        <div class="activities_content">
                           <!-- <div class="activities_meta">
                              <p class="activities_date"><span>Posted on: </span> August 8th 2017</p>
                              <p class="activities_category"><span>Category in: </span><a href="./activities-detail.html">CSR</a></p>
                           </div> -->
                           <h3 class="activities_title"><a href="./csr/primacom-medical-charity-tanahtinggi-senen-2016.html">PRIMACOM Medical Charity on Tanah Tinggi, Senen, Jakarta-2016</a></h3>
                           <p class="activities_excerpt">
                              On September 30, 2016, PRIMACOM in conjuction with medical clinic presented free general check-up and dental treatment for people in need who live on train side in Tanah Tinggi, Senen. The charity is completed with healthy snacks give away to the community.
                           <a href="./csr/primacom-medical-charity-tanahtinggi-senen-2016.html" class="activities_more">Learn more</a>
                        </p>
                        </div>
                     </div><!-- /.activities_list -->
                     <div class="activities_list">
                        <div class="activities_image">
                           <img src="{{base_href}}/assets/images/bg-image-blank.jpg" alt="">
                        </div>
                        <div class="activities_content">
                           <!-- <div class="activities_meta">
                              <p class="activities_date"><span>Posted on: </span> August 8th 2017</p>
                              <p class="activities_category"><span>Category in: </span><a href="./activities-detail.html">CSR</a></p>
                           </div> -->
                           <h3 class="activities_title"><a href="./csr/primacom-social-charity-banggai-2015.html">PRIMACOM Social Charity on Banggai, Central Sulawesi-2015</a></h3>
                           <p class="activities_excerpt">
                              Located in Luwuk Banggai, PRIMACOM providing a proper shelter that enables fishermen to gather for opinion sharing as to solve daily fishery issues.
                           <a href="./csr/primacom-social-charity-banggai-2015.html" class="activities_more">Learn more</a>
                        </p>
                        </div>
                     </div><!-- /.activities_list -->
                     <div class="activities_list">
                        <div class="activities_image">
                           <img src="{{base_href}}/assets/images/img-baksos-bogor.jpg" alt="">
                        </div>
                        <div class="activities_content">
                           <!-- <div class="activities_meta">
                              <p class="activities_date"><span>Posted on: </span> August 8th 2017</p>
                              <p class="activities_category"><span>Category in: </span><a href="./activities-detail.html">CSR</a></p>
                           </div> -->
                           <h3 class="activities_title"><a href="./csr/primacom-sanitary-charity-tanjung-sari-2013.html">PRIMACOM Sanitary Charity on Tanjung Sari, Bogor-2013</a></h3>
                           <p class="activities_excerpt">
                              One of the best PRIMACOM's charity in helping people in need to have an easy access of clean water for daily living. Conducted on May 7-8, 2013 at Cibuyutan village, Tanjung Sari, Bogor, more than 20 employees were hand-in-hand to develop water reservoir and pipe over 1,5 km length.
                           <a href="./csr/primacom-sanitary-charity-tanjung-sari-2013.html" class="activities_more">Learn more</a>
                        </p>
                        </div>
                     </div><!-- /.activities_list -->
                  </div>
                  <!-- <div class="pagination">
                     <ul class="pagination_lists">
                        <li><a href="#"><span class="icon-arrow ti-angle-left"></span></a></li>
                        <li class="active"><a href="#"><span class="">1</span></a></li>
                        <li><a href="#"><span class="">2</span></a></li>
                        <li><a href="#"><span class="">3</span></a></li>
                        <li><a href="#"><span class="">4</span></a></li>
                        <li><a href="#"><span class="">5</span></a></li>
                        <li><a href="#"><span class="icon-arrow ti-angle-right"></span></a></li>
                     </ul>
                  </div> --><!-- /.pagination -->
               </div><!-- /.activities-listing -->
            </div><!-- /.activities -->
            <!-- /CONTENT -->
         </div>
      </div>
   </div>
</section>

{% endblock %}

{% block post_page %}{% endblock %}