{% extends "master/default.html" %}
{% set doc_title = "Activities" %}
{% set base_href="./.." %}

{% block vendor_styles %}{% endblock %}

{% block vendor_scripts %}{% endblock %}

{% block content %}
<section class="section pattern-default bg-white">
   <div class="container">
      <div class="row">
         <div class="col-xs-12 col-md-10 col-md-offset-1">
            <!-- CONTENT PLACE HERE -->
            <div class="single">
               <ul class="pi-breadcrumb">
                  <li class="pi-breadcrumb_item"><a href="{{base_href}}/">Home</a></li>
                  <li class="pi-breadcrumb_item"><a href="{{base_href}}/activities-csr.html">CSR</a></li>
                  <li class="pi-breadcrumb_item is-active">PRIMACOM Social Charity on Kunciran, Tangerang-Banten-2017</li>
               </ul>
               <div class="single_title">
                  <h2>PRIMACOM Social Charity on Kunciran, Tangerang-Banten-2017</h2>
               </div>
               <div class="single_excerpt">
                  <h3 class="focus-text"></h3>
               </div>
               <div class="single_content">
                  <p>On June 16, 2017, PRIMACOM took this charity as a thanksgiving moment for new operational office building in Alam Sutera, Tangerang which is named Gedung Prima Sejahtera.  Conducted in Kunciran's District Office, groceries (sembako) were shared for around 300 people in need from nearest villages around with.</p>
                  <p><img src="{{base_href}}/assets/images/img-baksos-banten.jpg" alt=""></p>
               </div>
            </div><!-- /.single -->
            <!-- /CONTENT -->
         </div>
      </div>
   </div>
</section>

{% endblock %}

{% block post_page %}{% endblock %}