<section class="section pattern-eco-wrapper clearfix">
   <div class="section pattern-eco-left" id="commitment" style="background-image: url('{{base_href}}/assets/images/bg-commitments.jpg'); background-position: -200px top;">
         <h2 class="section_title">Commitment</h2>
            <div class="section_excerpt">
               <p>In the beginning it's about <b>TECHNOLOGY</b>, <b>FUNCTION</b> and FEATURES but in the final analysis, it's about PEOPLE, INTEGRITY, and <b>COMMITMENT</b>.</p>
               <p>"Primacom has been very commited to us. The company doesn't just sell products, but brought integrated solution to the table. This is what makes PRIMACOM different."</p>
            </div>
   </div>
   <div class="section pattern-eco-right text-white" id="value" style="background-image: url('{{base_href}}/assets/images/bg-value-creation.jpg');">
      <h2 class="section_title">Value Creation</h2>
      <div class="section_excerpt">
         <ul>
            <li><b>EXPERIENCE</b></li>
            <li><b>INNOVATIVE AND CUSTOMIZED NETWORK SOLUTIONS</b></li>
            <li><b>GLOBAL NETWORK COVERAGE</b></li>
         </ul>
         <p>For a large enterprises with offices nationwide, and employees in geographically remote or extreme environments, the need for a reliable and adaptable suite of network services is clear.</p>
      </div>
   </div>
</section>