<section class="section bg-lightgray pattern-default">
   <div class="certification">
      <div class="container">
         <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
               <h2 class="certification_title">Our Accreditations</h2>
               <p class="certification_subtitle">Maintain our ISO Accreditations to ensure best services for our customers.</p>
            </div><!-- /.col -->
            <div class="col-xs-12 col-sm-6  col-md-4">
               <div class="certification_item certification_item--alt clearfix">
                  <div class="certification_image">
                     <img src="{{base_href}}/assets/images/logo-iso-9001-saiglobal.png" alt="">
                  </div>
                  <div class="certification_content">
                     <div class="certification_name">Quality ISO 9001</div>
                     <div class="certification_desc">Certificated System</div>
                  </div>
               </div>
            </div><!--/.col -->
            <div class="col-xs-12 col-sm-6 col-md-4">
               <div class="certification_item clearfix">
                  <div class="certification_image">
                     <img src="{{base_href}}/assets/images/img-ohsas-18001.jpg" alt="">
                  </div>
                  <div class="certification_content">
                     <div class="certification_name">BS OHSAS 18001</div>
                     <div class="certification_desc">Bureau Veritas Certification</div>
                  </div>
               </div>
            </div><!-- /.col -->
         </div><!-- /.row -->
      </div><!-- /.container -->
   </div>
</section>