<ul class="navbar_menu">
   <li class="navbar_list">
      <a href="about.html">ABOUT</a>
      <ul class="navbar_submenu">
         <li><a href="{{base_href}}/about.html">Overview</a></li>
         <li><a href="{{base_href}}/about.html#glance">A Glance of Primacom</a></li>
         <li><a href="{{base_href}}/about.html#milestone">Company Milestone</a></li>
         <li><a href="{{base_href}}/about.html#vision">Vision &amp; Mission</a></li>
         <li><a href="{{base_href}}/about.html#commitment">Commitment</a></li>
         <li><a href="{{base_href}}/about.html#snapshots">Strategic Snapshots</a></li>
         <!-- <li><a href="{{base_href}}/about.html#value">Value Creation</a></li> -->
         <li><a href="{{base_href}}/about.html#solution">Communication Solution</a></li>
      </ul>
   </li>
   <li class="navbar_list">
      <a href="services.html">SERVICES</a>
      <ul class="navbar_submenu">
         <li><a href="{{base_href}}/services.html">Services Overview</a></li>
         <li><a href="{{base_href}}/services.html#cat01">Connectivity</a></li>
         <li><a href="{{base_href}}/services.html#cat02">Facility &amp; Network Infrastructure</a></li>
         <li><a href="{{base_href}}/services.html#cat03">Monitoring &amp; Management</a></li>
         <li><a href="{{base_href}}/services.html#cat04">Professional Service</a></li>
      </ul>
   </li>
   <li class="navbar_list"><a href="{{base_href}}/partners.html">PARTNERS</a></li>
   <li class="navbar_list">
      <a href="#">ACTIVITIES</a>
      <ul class="navbar_submenu">
         <!-- <li><a href="activities.html">Overview</a></li> -->
         <li><a href="{{base_href}}/activities-news.html">Primacom News</a></li>
         <li><a href="{{base_href}}/activities-corporate.html">Corporate Activities</a></li>
         <li><a href="{{base_href}}/activities-csr.html">CSR</a></li>
      </ul>
   </li>
   <li class="navbar_list"><a href="{{base_href}}/contact.html">CONTACT US</a></li>
</ul>