<section class="section pattern-beta bg-white" id="vision">
   <div class="section_wrapper clearfix">
      <div class="section_half">
         <div class="section_image" style="background-image: url('{{base_href}}/assets/images/img-vision.jpg');"></div>
      </div>
      <div class="section_half">
         <div class="section_content">
            <div class="section_excerpt" style="text-align: left;">
               <p style="margin-bottom:10px;"><b>Vision</b></p>
               <h3>"To Become the Most Valuable Communication Solution Provider in Indonesia."</h3>
               <p><br/></p>
               <p  style="margin-bottom:10px;"><b>Mission</b></p>
               <h3>"To Honourably Serve Our Stakeholders Live."</h3>
            </div>
         </div>
      </div>
   </div>
</section>