<footer class="footer">
   <div class="footer_top">
      <div class="container">
         <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
               <div class="footer_info">
                  <div class="footer_title">Head Office</div>
                  <div class="footer_address">
                     <p>International Financial Centre II, 19th Floor <br>Jl. Jend. Sudirman Kav 22-23</p>
                     <p>Jakarta 12920 - Indonesia</p>
                  </div>
                  <div class="footer_call">
                     <p><span>Telephone:</span><span>+62 21 522 4750</span></p>
                     <p><span>Facsimile:</span><span>+62 21 522 4745</span></p>
                     <p><span>Email:</span><a href="mailto:sales@primacom.co.id">sales@primacom.co.id</a></p>
                  </div>
               </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
               <div class="footer_info">
                  <div class="footer_title">Operating Office</div>
                  <div class="footer_address">
                     <p>Gedung Prima Sejahtera <br>Jl. Jalur Sutera Kav 5A, Kunciran Pinang, Kota Tangerang.</p>
                     <p>Banten 15144 - Indonesia</p>
                  </div>
                  <div class="footer_call">
                     <p><span>Telephone:</span><span>+62 21 2977 9499</span></p>
                     <p><span>Facsimile:</span><span>+62 21 2977 9620</span></p>
                  </div>
               </div>
            </div>
            <div class="col-xs-12 col-md-10 col-lg-3 col-lg-offset-0">
               <div class="footer_info clearfix">
                  <div class="footer_title">More Assistance?</div>
                  <div class="footer_support-call">
                     <a href="tel:+622130008787" class="contact-center">
                        <span class="footer_support-icon ti-headphone-alt"></span>
                        <span class="footer_linkspan">+62-21-3000-8787</span>
                     </a>
                  </div>
                  <div class="footer_support-call">
                     <a href="#modalSupport" data-toggle="modal">
                        <span class="footer_support-icon ti-email"></span>
                        <span class="footer_linkspan">Helpdesk Email</span>
                     </a>
                  </div>
               </div><!-- /.footer_info -->
            </div>
         </div>
      </div>
   </div>
   <div class="footer_bottom">
      <div class="container">
         <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 ">
               <p class="footer_copy">Copyright &copy; 2017. Primacom Interbuana. All rights reserved</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-4 ">
               <!-- <div class="footer_socials">
                  <a href="https://www.facebook.com/primacom.interbuana" title="Facebook Primacom Interbuana" class="footer_slink" target="blank"><span class="footer_sicon ti-facebook"></span></a>
                  <a href="https://www.instagram.com/primacominterbuana" title="Instagram Primacom Interbuana" class="footer_slink" target="blank"><span class="footer_sicon ti-instagram"></span></a>
               </div> -->
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
               <ul class="footer_menu">
                  <li class="footer_item"><a href="{{base_href}}/about.html">About</a></li>
                  <li class="footer_item"><a href="{{base_href}}/services.html">Services</a></li>
                  <li class="footer_item"><a href="{{base_href}}/partners.html">Partners</a></li>
                  <li class="footer_item"><a href="{{base_href}}/activities-news.html">Activities</a></li>
                  <li class="footer_item"><a href="{{base_href}}/contact.html">Contact</a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</footer>