<section class="section bg-lightgray">
   <div class="certification--alt">
      <div class="container">
         <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
               <h2 class="certification--alt_title">ISO &amp; OHSAS CERTIFICATION</h2>
               <p class="certification--alt_subtitle">Maintain our ISO &amp; OHSAS Certification to ensure highest quality services and safety standards delivery to our customers and projects.</p>
            </div><!-- /.col -->
            <div class="col-xs-12 col-sm-6  col-md-4">
               <div class="certification--alt_item clearfix">
                  <div class="certification--alt_image">
                     <img src="{{base_href}}/assets/images/logo-iso-9001-saiglobal.png" alt="">
                  </div>
                  <div class="certification--alt_content">
                     <div class="certification--alt_name">Quality ISO 9001</div>
                     <div class="certification--alt_desc">Certificated System</div>
                  </div>
               </div>
            </div><!--/.col -->
            <div class="col-xs-12 col-sm-6 col-md-4">
               <div class="certification--alt_item clearfix">
                  <div class="certification--alt_image">
                     <img src="{{base_href}}/assets/images/img-ohsas-18001.jpg" alt="">
                  </div>
                  <div class="certification--alt_content">
                     <div class="certification--alt_name">BS OHSAS 18001</div>
                     <div class="certification--alt_desc">Bureau Veritas Certification</div>
                  </div>
               </div>
            </div><!-- /.col -->
         </div><!-- /.row -->
      </div><!-- /.container -->
   </div>
</section>