<footer class="footer footer--alt">
   <div class="footer_bottom">
      <div class="container">
         <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-lg-offset-1">
               <p class="footer_copy">Copyright &copy; 2017. Primacom Interbuana. All rights reserved</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
               <ul class="footer_menu">
                  <li class="footer_item"><a href="{{base_href}}/about.html">About</a></li>
                  <li class="footer_item"><a href="{{base_href}}/services.html">Services</a></li>
                  <li class="footer_item"><a href="{{base_href}}/partners.html">Partners</a></li>
                  <li class="footer_item"><a href="{{base_href}}/activities.html">Activities</a></li>
                  <li class="footer_item"><a href="{{base_href}}/contact.html">Contact</a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</footer>