<section class="section pattern-delta-alt"  style="background-image: url('{{base_href}}/assets/images/bg-tesimony-alt.jpg'); background-size: auto 100%; background-position: left top; background-color: #263238;">
   <div class="container">
         <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
               <div class="owl-carousel carousel" id="testimonialCarousel">
                     <div class="carousel_item">
                           <div class="carousel_text"><p>Primacom has been very commited to us. The Company doesn’t just sell product, but brought integrated solution to the table. This what makes Primacom different.</p></div>
                           <div class="carousel_title">Brian Napitulu Tutupoli</div>
                           <div class="carousel_subtitle">IT Director - Truck.co</div>
                     </div><!-- /.carousel_item -->
                     <div class="carousel_item">
                           <div class="carousel_text"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem blanditiis aliquid modi asperiores minima omnis ducimus eos sed iusto provident unde facere incidunt reiciendis eveniet temporibus, quaerat cupiditate, doloribus dolorum!</p></div>
                           <div class="carousel_title">Anthony Pranata</div>
                           <div class="carousel_subtitle">Marketing Director - Universal Tractor</div>
                     </div><!-- /.carousel_item -->
               </div>
            </div>
         </div>
   </div>
</section>